    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger Form</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <form action="./create" method="post" class="p-3 col-4 mx-auto card my-5 bg-dark text-light">
        <h2 class="text-center text-primary">Create Burger</h2>
        <div class="form-group">
            <label for="name">Burger Name:</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="bun">Bun:</label>
            <input type="text" name="bun" id="bun" class="form-control">
        </div>
        <div class="form-group">
            <label for="meat">Meat:</label>
            <input type="text" name="meat" id="meat" class="form-control">
        </div>
        <div class="form-group">
            <label for="calories">Calories:</label>
            <input type="number" name="calories" id="calories" class="form-control">
        </div>
        <div class="form-group">
            <label for="topping_one">Topping One:</label>
            <input type="text" name="topping_one" id="topping_one" class="form-control">
        </div>
        <div class="form-group">
            <label for="topping_two">Topping Two:</label>
            <input type="text" name="topping_two" id="topping_two" class="form-control">
        </div>
        <input type="submit" value="Create Burger" class="btn btn-primary btn-outline-dark">
    </form>
</body>
</html>
</body>
</html>