<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazine Details</title>
</head>
<body>
    <a href="/new">Add Magazine</a>
    <a href="/account/{{magazine['user_id']}}">Account</a>
    <a href="/logout">Logout</a>

    <h1>{{magazine['name']}}</h1>
    <P>Added by {{magazine['first_name']}} {{magazine['last_name']}}</P>
    <p>Description: {{magazine['description']}}</p>
</body>
</html>