<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read All</title>
</head>
<body>
    <h1>All My Friends</h1>
{% for people in all_friends %}
    <p>First Name: {{people["first_name"]}}</p>
    <p>Last Name: {{people["last_name"]}}</p>
    <p>Email: {{people["email"]}}</p>
    <p>Actions: <a href="/show_page/{{people['id']}}">Show</a> <a href="/edit_page/{{people['id']}}">Edit</a> <a href="/delete/{{people['id']}}">Delete</a> </p>
    <hr>
{% endfor %}
<a href="/create_page">Add Friend</a>
</body>
</html>
